h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Franklin', sans-serif;
    color: #0a4140;
}
p {
    font-family: 'Noto Serif', serif;
}
header {
    background-color: #f2f2f3;
}
body {
    background-color: #f2f2f3;
}
section {
    margin: 30px;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
nav {
    background-color: #093533;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}
nav li a {
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #f2f2f3;
    text-decoration: none;
    padding: 0.75rem;
    font-size:0.95rem;
}
nav a:hover {
    background-color: #0a4140;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}