h1 {
    padding: 40px;
    color: #e2d8a2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h2 {
    color:#e36a4f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}